.mediaplayer__bar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  bottom: 0px;
  height: 32px;
  background: #574e69;
  padding: 0 25px;
  box-sizing: border-box;
}

.mediaplayer__bar p {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
}