.mediaplayer__bar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  bottom: 0px;
  height: 32px;
  background: #574e69;
  box-sizing: border-box;
}

.mediaplayer__bar--progress {
  height: 32px;
  position: absolute;
  background: #8b7baa;
  pointer-events: none;
}

.mediaplayer__bar p {
  margin: 0;
  padding: 0 25px;
  z-index: 9;
  font-size: 14px;
  font-weight: 700;
  pointer-events: none;
  user-select: none;
}