@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');

a,
li {
  list-style: none;
  text-decoration: none;
  color: #f6f4ee;
  font-weight: 400;
}

ul {
  padding: 0;
}

input,
button {
  outline: none;
}

body {
  background: #f6f4ee;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

.header {
  background: #4A4843;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f6f4ee;
}

.header__menu--display {
  font-weight: 600;
  cursor: pointer;
}

.header__logo {
  font-size: 1.25em;
  font-weight: 600;
}

.header__profile {
  font-size: 0.875em;
}

.header__menu--display,
.header__profile {
  margin: 0 25px;
}

.header__menu--display {
  position: relative;
  padding-left: 1.250em;
}

.header__menu--display span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1em;
  height: 0.15em;
  background: #f6f4ee;
  box-shadow:
    0 0.25em 0 0 #f6f4ee,
    0 0.5em 0 0 #f6f4ee;
}

.menu {
  background: #4A4843;
  width: 15.625em;
  height: 100%;
  position: absolute;
  left: -15.625em;
  top: 0;
  z-index: 99;
}

.menu__panel {
  margin: 0;
}

.showMenu {
  display: none;
}

.menu .header {
  margin-right: 20px;
  justify-content: flex-end;
}

.closeMenu {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  padding-right: 30px;
}

.closeMenu:before,
.closeMenu:after {
  position: absolute;
  right: 0.625em;
  content: '';
  top: 0;
  height: 1.125em;
  width: 0.188em;
  background-color: #f6f4ee;
}

.closeMenu:before {
  transform: rotate(45deg);
}

.closeMenu:after {
  transform: rotate(-45deg);
}

.menu__panel li {
  border-top: 1px solid #989898;
}

.menu__panel li:last-child {
  border-bottom: 1px solid #989898;
}

.menu__panel a {
  padding: 20px 30px;
  display: block;
  transition: 0.3s;
}

.menu__panel a:hover {
  background: #f9d98a;
  color: #4A4843;
  transition: 0.3s;
}


/* URL Form */
.url-add {
  margin: auto;
  width: 25em;
  text-align: center;
}

.url-add__title {
  margin-top: 2em;
  font-size: 2em;
  font-weight: 600;
  color: #4A4843;
}

.url-add__form {}

.url-add__form input,
.url-add__form button {
  width: 25em;
  border: none;
  margin-top: 20px;
  box-shadow: 0 2px #e3d188;
  border-radius: 2px;
}

.url-add__form input {
  font-size: 0.875em;
  padding: 1.2142857142857142em 1.7857142857142858em;
  background: #4a4843;
  color: #f6f4ee;
}

::placeholder {
  color: #f6f4ee;
}

.url-add__form button {
  padding: 1em;
  font-size: 1em;
  font-weight: 600;
  background: #f6f4ee;
  border: 1px solid #4a4843;
  text-transform: uppercase;
  transition: 0.2s;
}

.url-add__form button:hover {
  background: #4a4843;
  color: #f6f4ee;
  cursor: pointer;
  transition: 0.2s;
}

/* URL LIST */
.url__list {
  margin: auto;
  margin-top: 100px;
  width: 1000px;
  border: 1px solid #4a4843;
  height: auto;
}

.url__list li {
  background: #f9d98a;
  padding: 0 20px;
  line-height: 0;
  height: 2.667em;
  display: flex;
  justify-content: space-between;
  margin: 5px 10px;
  color: #4a4843;
  font-size: 0.938em;
  font-weight: 600;
}

.url__list div,
.url__list a {
  display: flex;
  align-items: center;
}

.url__list a {
  color: #4a4843;
  font-size: 0.875em;
}